button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(66, 184, 221);
  padding: .5em 1em;
  text-decoration: none;
  border: transparent;
  cursor: pointer;
  outline: none;
}
.myPieChart {
  display: block;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.myBarChart {
  display: block;
  height: 500px;
  width: 400px;
  border: 1px solid black;
}
/* all graphs */
* /deep/ .graph_container {
  height: 100%;
  width: 100%;
  .graph {
    height: 100%;
    width: 100%;
    g .graph__bar, g .graph__pie_slice{
      &.segment-special {
        fill: yellow;
      }
      &.segment-special-on-hover:hover {
        fill: palegreen;
      }
    }
  }
}
/* pie-chart styles */
.myPieChart /deep/ .graph_container {
  .graph {
    .graph__pie_slice {
      stroke: white;
      &.disabled {
        fill: lightgray;
      }
    }

  }
}

/* bar-chart styles */
.myBarChart /deep/ .graph_container {
  .graph {
    .graph__bar {
      fill: lightblue;
      &.disabled {
        fill: lightgray;
      }

    }
    .graph__bar_label {
      dominant-baseline: ideographic;
        /* for fade-in */
        opacity: 0.15;
    }
    .axis-x.diagonal-text {
      text-anchor: end;
    }
  }
}

.myBarChart.done /deep/ .graph_container {
  .graph{
    .graph__bar_label {
      transition: opacity 3000ms;
      opacity: 1.0;
    }
  }
}
