<h1>
  Graph Demo
</h1>
<p>
    <button (click)="toggleDisabledDisplay()">
      {{displayDisabledColumns?'Hide':'Show'}} Disabled columns
    </button>
</p>

<app-pie-chart class="myPieChart"
              [data]="myData"
              [config]="pieChartConfig"
              [update]="updateFlag"
              (onClick)="pieChartClick($event)"></app-pie-chart>

<app-bar-chart class="myBarChart"
               [ngClass]="{'done':barChartIsDone}"
               [data]="myData"
               [config]="barChartConfig"
               [update]="updateFlag"
               (onDone)="barChartDone($event)"
               (onClick)="barChartClick($event)"></app-bar-chart>

<p>
  Active columns: {{activeColumnsNumber}} of {{myData.length}}
</p>
