<h1>
  Graph Demo
</h1>
<p>
  Active columns: {{activeColumnsNumber}} of {{myData.length}}
    <button (click)="toggleDisabledDisplay()">
      {{displayDisabledColumns?'Hide':'Show'}} Disabled columns
    </button>
</p>

<app-pie-chart class="myPieChart"
              [ngClass]="{'done':graphsAreDone}"
              [data]="myData"
              [config]="pieChartConfig"
              [update]="updateFlag"
              (onClick)="pieChartClick($event)"></app-pie-chart>

<app-bar-chart class="myBarChart"
               [ngClass]="{'done':graphsAreDone}"
               [data]="myStackData"
               [config]="barChartConfig"
               [update]="updateFlag"
               (onDone)="barChartDone($event)"
               (onClick)="barChartClick($event)"></app-bar-chart>


<app-bar-chart class="myBarChart"
               [ngClass]="{'done':graphsAreDone}"
               [data]="myStackData"
               [config]="barChartHorizontalConfig"
               [update]="updateFlag"
               (onDone)="barChartDone($event)"
               (onClick)="barChartClick($event)"></app-bar-chart>

<!--<app-bar-chart class="myBarChart done"-->
               <!--[data]="myStackData"-->
               <!--[config]="stackedBarChartConfig"-->
               <!--[update]="updateStackFlag"-->
               <!--(onDone)="barChartDone($event)"-->
               <!--(onClick)="barChartClick($event)"></app-bar-chart>-->
